<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <h1>Create an Account</h1>
    <form method="POST">
      {% csrf_token %} 
      {% comment %} {{ form.as_p }} {% endcomment %}
      {% for fm in form  %}
      {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br/>
      {% endfor %}
      <button type="submit">Register</button>
    </form>

    {% if messages %} {% for message in messages %}
    <div>{{ message }}</div>
    {% endfor %} {% endif %}

    {% comment %} <a href="{% url 'login' %}">Already have an account? Log in</a> {% endcomment %}
  </body>
</html>
